body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 15px;
}

.top-card-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 30px;
    margin: 0px;
    color: grey;
}

.top-card {
    background-color: rgb(47, 47, 62);
    margin: 80px 0;
    justify-content: space-between;
    
}

.top-card-left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
}

.top-card-subtext {
    color: grey;
}

.top-card-content {
    display: flex;
    justify-content: space-between;
}

.placeholder-image {
    display: flex;
    width: 500px;
    height: 200px;
    color: white;
    background-color: grey;
    align-items: center;
    justify-content: center;
}

.sign-up-button {
    border-radius: 5px;
    color: white;
    background-color: rgb(43, 143, 250);
    width: 100px;
    height: 30px;
    border: 0px;
}

.header-top-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 47, 62);
    padding: 0px 180px;
    justify-content: space-between;
}